/* Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Globals  */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-size: 0.9rem;
}

/* Variables  */
:root {
    --color_Blue: #3f93f1;
    --color_LightBlue: #e5f1ff;
    --color_Dark1: #1e1e1e;
    --color_Dark2: #252527;
    --color_Light1: #dfdfdf;
    --color_Light2: #c4c4c4;
    --color_Light3: #fdfdfd;
    --color_Green1: #1c6d3f;
    --color_Green2: #449d6b;
    --color_DarkGreen: darkgreen;
    --color_LightYellow1: #f9f9cc;
    --color_Orange1: #fe6a50;
    --color_LightRed: #e24a64;
}

/* Popup form - tersembunyi secara default */
.form-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    z-index: 9;
}

.close-popup {
    position: fixed;
    display: flex;
    padding: 2px;
    top: 10px;
    right: 10px;
    opacity: .6;
    cursor: pointer;
}

/* Style form container */
.form-container {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid var(--color_Green1);
    border-radius: 8px;
    box-shadow: 2px 2px 4px #449d6b;
    background-color: var(--color_Light3);
    color: var(--color_Green1);
}

h3 {
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
}

/* Style input fields */
.form-container label {
    font-weight: 500;
}

.form-container input[type=text],
.form-container input[type=email],
.form-container input[type=password],
.form-container select {
    width: 100%;
    padding: 5px;
    margin: 5px 0 16px 0;
    border: none;
    background: var(--color_LightYellow1);
}

/* .form-container option {
    color: var(--color_Light2);
} */

.form-container button {
    min-width: 72px;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 24px;
    margin-bottom: 16px;
    border: none;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.form-container .form-buttons {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    gap: 10px;
    margin-top: 12px;
    margin-bottom: 16px;
}

.btn-add,
.btn-update,
.btn-cancel {
    min-width: 72px;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 24px;
    margin-bottom: 16px;
    border: none;
    color: #fff;
    margin-right: 10px;
}

.btn-add,
.btn-update {
    min-width: 72px;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 24px;
    margin-bottom: 16px;
    border: none;
    color: #fff;
    margin-right: 10px;
    background: var(--color_Green2);

}

.btn-cancel {
    background: var(--color_LightRed);
}

.btn-add-picture {
    width: 130px;
    padding: 3px;
    border-radius: 5px;
    margin-left: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    background: var(--color_Light2);
    color: var(--color_Dark1);
}

.form-popup button:hover {
    cursor: pointer;
    font-weight: bold;
}